{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}

{{super()}}
<!--bubble fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap" rel="stylesheet">
<!--custom css-->
<link rel="stylesheet" href="{{url_for('.static', filename='styles.css')}}">
{% endblock %}

{% block title %}Color Finder Keeper{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('add_picture')}}">Home</a>


  </div>
</nav>
{% endblock %}